/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* ///////////////////////////// */

  html,body{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
  }

  body{
    background-image: url(media/rich-chocolate-lava-cake-oozing-with-molten-goodness_1007506-5258-transformed.jpeg);
    background-size: cover; /* Cover entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
  }

  header{
    padding: 2rem;
    z-index: -10;
    display: flex;
    justify-content: center;
    background-color: #230b04;
    border-bottom: 1px solid #fdb645;
    box-shadow: 0 0 5px #fdb645;
  }

  #content{
    margin: 2rem auto;
    width: clamp(500px, 45%, 620px);
    height: 80%;
    border-radius: 28px;
    border: 1px solid #fdb645;
    box-shadow: 0 0 15px #fdb645;
    color: white;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
  }
  nav > button{
    margin: 0 1rem;
    border-radius: 10px;
    padding: 0 1rem;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px #fdb645;
    border: 1px solid black;
    transition: 0.1s;
    color: #fdb645;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
  }
  nav > button:hover{
    scale: 1.05;
  }
  nav > button:active{
    scale: 1.01;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }

  img{
    border-radius: 12px;
    box-shadow: 0 0 10px #fdb645;
  }